trrp-lab3-thank-god-its-finally-csharp/trrp-lab3-thank-god-its-finally-csharp/Connected Services/PSQLServiceReference/printToPSQL1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://lab3/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="firstNFLine">
    <xs:sequence>
      <xs:element name="cat_id" type="xs:int" />
      <xs:element minOccurs="0" name="cat_name" type="xs:string" />
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element name="breed_id" type="xs:int" />
      <xs:element minOccurs="0" name="breed" type="xs:string" />
      <xs:element name="place_id" type="xs:int" />
      <xs:element minOccurs="0" name="place_name" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element name="food_id" type="xs:int" />
      <xs:element minOccurs="0" name="food_name" type="xs:string" />
      <xs:element name="price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>